@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "General Sans", sans-serif;
}

::-webkit-scrollbar{
  display: none;
}

.auth-style-top{
  clip-path: polygon(0 0, 0% 100%, 100% 0);
}